// 颜色定义规范
$color-background: #e9e7d0;
$color-background-SLW: hsl(51, 10%, 65%);
$color-background-d: rgb(216, 213, 218);
$color-highlight-background: #f1d570;
$color-dialog-background: #666;
$color-theme: #f4980f;
$color-theme-d: rgba(255, 205, 49, 0.5);
$color-sub-theme: #d93f30;
$color-text: #1f1c1c;
$color-text-d: rgba(42, 39, 39, 0.3);
$color-text-l: rgba(36, 34, 34, 0.5);
$color-text-ll: rgba(15, 15, 15, 0.8);
$color-text-1:rgba(93, 90, 90, 0.8);
$color-highlight-title: #f3e1a2;
$color-text-II:rgba(52, 50, 50, 0.8);
// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;